PROJECT_NAME="PelliPatrika API"
SECRET_KEY="your-production-secret-key"
DATABASE_URL="postgresql://user:password@localhost:5432/pellipatrika"

# Cloudinary (Optional - Fallback is local static storage)
CLOUDINARY_CLOUD_NAME="your_cloud_name"
CLOUDINARY_API_KEY="your_api_key"
CLOUDINARY_API_SECRET="your_api_secret"
